Brotli
certifi
charset-normalizer
filelock
gmpy2
idna
Jinja2
MarkupSafe
mkl-service>=2.4.0
mkl_fft
mkl_random
mpmath
networkx
numpy
pillow
PySocks
PyYAML
requests
sympy
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
triton==3.0.0
typing_extensions
urllib3
pandas
scikit-learn
skorch
torch-geometric>=2.5.3